.layout {
 @apply bg-yellow-500 grid justify-center items-center;
 grid-area: content
}

.wrapper {
 @apply grid min-h-screen bg-layout-grey;
 grid-template-columns: auto 330px minmax(320px, 1200px) auto;
 grid-template-rows: auto 1fr auto;
 grid-template-areas:
  ". header header ."
  ".sidebar content ."
  "footer footer footer footer";
}

@media(max-width:765px){
 .wrapper{
  grid-template-columns: minmax(320px, 1fr);
  grid-template-areas:
   "header"
   "content"
   "footer";
 }
 }