.tag {
 @apply text-black font-medium bg-white box-border inline-block border border-solid border-gray text-xs px-2.5 py-1 rounded-tag_radius;
}

.tPrimary {
 @apply text-primary border-primary
}

.tGreen {
 @apply text-green font-bold bg-light-green leading-4 file:py-1 px-2 
}

.tRed {
 composes: tGreen;
 @apply text-white bg-red text-sm
}

.tGray {
 composes: tGreen;
 @apply bg-dark-grey text-white py-1.5 px-4 text-sm leading-5
}